<!-- Affiche tous les gossips en base de donnée -->


<% @all_gossips.each do |gossip| %>
  <div class="card-body p-2 p-sm-3 mb-2 bg-light rounded-3 shadow">
    <div class="media forum-item"> 
      <a href="<%= gossip.user.avatar_link %>"><img src="<%= gossip.user.avatar_link %>" class="mr-3 rounded-circle border" alt="User" width="50"></a>
      <div>
        <h6><a href="<%= gossip_path(gossip.id) %>" class="text-body"><%= gossip.title %></a></h6>
        <p class="text-secondary"><%= gossip.content %></p>
        <p class="text-muted fw-light"><a href="<%= user_path(gossip.user_id) %>"><%= gossip.user.first_name %> <%= gossip.user.last_name %></a> l'a comméré il y a <span class="text-secondary fw-bold"><%= time_ago_in_words(gossip.created_at) %></span></p>
      </div>
      <div class="text-muted small text-center ">
        

        <% if logged_in?%>
        <span><%= gossip.likes.count %> <i class="far fa-heart ml-2"></i></span>



        <span><i class="far fa-comment ml-2"></i> <%= gossip.comments.count %></span>
      </div>
    </div>
  </div>
<% end %>




