<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application' %>
    <!-- Turbolink nécessaire pour faire fonctionner les liens "link_to" avec la méthode "delete" -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <!-- Navbar -->
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-gradient">
      <%= link_to "The Gossip Project", gossips_path, class: "navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
          <% if logged_in? %>
            <li class="nav-item active"><% link_to "Mon profil", user_path(current_user.id)%></li>
            <li class="nav-item active"><%= link_to "Create", new_gossip_path, class: "nav-link btn btn-success" %></li> 
            <li class="nav-item active"><%= link_to "Quitter la session", session_path(session.id), method: :delete, class: "btn btn-danger mx-3" %></li>
          <% else %>    
            <li class="nav-item active"><%= link_to "S'enregistrer", new_user_path, class: "btn btn-primary" %></li>  
            <li class="nav-item active"><%= link_to "Se connecter", new_session_path, class: "btn btn-outline-primary mx-3 " %></li>  
          <% end %>
        </ul>
      </div>
      </nav>
    </header>
    <!-- /Navbar -->

    <!-- MAIN -->
    <div class="container mt-3 mx-auto" style="max-width: 600px;">
      <%= yield %>
    </div>
    <!-- /MAIN -->
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
</html>

